.carDiv {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 100px 0 50px;
}

.carousel {
  padding: 20px;
  perspective: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: unset;
}
.carousel > * {
  flex: 0 0 auto;
}
.carousel figure {
  margin: 0;
  width: 40%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  overflow-x: visible;
}
.carousel figure img {
  width: 100%;
  max-height: 440px;
  box-sizing: border-box;
  padding: 0 0px;
  z-index: -1;
}
.carousel figure img:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
}
.carousel nav {
  display: flex;
  justify-content: center;
  margin: 30px 0 0;
}
.carousel nav button {
  aspect-ratio: 1;
  flex: 0 0 auto;
  margin: 0 5px;
  cursor: pointer;
  color: #16163f;
  background-color: rgb(158, 63, 253, 0.2);
  border-radius: 50%;
  border: none;
  letter-spacing: 1px;
  padding: 5px 10px;
  z-index: 2;
}
