@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@300;400;500&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

.navbar{
    width: 100vw;
    height: 80px;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.back-img{
    background-image: url('./assets/background-img.png');
    width: 100vw;
    aspect-ratio: 2;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Work Sans', sans-serif;
}

.logo-gen{
    font-weight: 600;
    font-size: 24px;
}

.navs{
    display: flex;
    gap: 25px;
}

.cont{
    padding: 13px;
    color: white;
    background-color: #9E3FFD;
    border-radius: 30px;
    width: fit-content;
    cursor: pointer;
}

h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 90px;
    font-weight: 700;
}

h4{
    font-family: 'Work Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
}

.mainH{
    width: 65%;
    text-align: left;
    position: relative;
    left: 8%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.mainD{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    width: 50%;
}

.sertxt{
    display: flex;
    flex-direction: column;
    gap: 25px;
}


