.lappy {
  aspect-ratio: 2.3;
  height: 80%;
  max-width: 40%;
}

.prodfst {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.prodrightmain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  max-width: 60%;
}

.prodprog {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  width: 100%;
}

.prodprog h4 {
  font-weight: 600;
  font-size: 20px;
}

.prodcatr {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 20px;
  margin: 20px 0;
  width: min-content;
}

.progressCirc {
  width: 200px;
  display: inline;
}

.item4 {
  font-size: 20px;
  font-weight: 600;
  width: 280px;
  /* background-color: #f8f0ff; */
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5px 10px;
  justify-content: space-around;
}

.product h1 {
  font-size: 40px;
  font-weight: 700;
  height: fit-content;
}

.product > h4 {
  font-size: 40px;
  font-weight: 400;
}

.product {
  text-align: center;
  margin: 100px 0 100px;
  background-image: url("./assets/background-img.png");
  width: 100vw;
  overflow-x: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.inputreview {
  margin: 50px 0 0;
  background-color: white;
  padding: 50px 0 50px;
}

.reviewInput {
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prorev {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  flex-grow: 1;
}

.item3 {
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 30px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255);
  box-shadow: 1px 1px 10px 0 #6100948a;
  margin: 10px;
}



.prod-rev {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.pro-div {
  color: black;
  width: 30%;
  padding: 20px 40px 40px;
  border-radius: 45px;
  height: fit-content;
}

.pro-div h4 {
  margin-bottom: 10px;
}
