.lappy {
  aspect-ratio: 1.85;
  width: 50%;
}

.product h1 {
  font-size: 60px;
  margin: 40px 0 20px;
}

.product > h4{
    font-size: 40px;
    font-weight: 400;
}

.product{
    margin: 100px 0 100px;
}

.reviewInput{
    margin: 20px 0;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product img{
    border: solid #16163F 2px;
    padding: 30px;
    border-radius: 30px;
}

.prorev {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}

.item3 {
  padding: 10px;
  background-color: rgb(158, 63, 253, 0.3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 30px;
}

.boxdiv {
  background-color: rgb(22, 22, 63, 0.3);
  width: fit-content;
  border-radius: 30px;
  padding: 0 20px;
}

.prod-rev{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.pro-div{
    background-color: #f8f0ff;
    width: 30%;
    padding: 20px 40px 40px;
    border-radius: 20px;
    height: fit-content;
}

.pro-div h4{
    margin-bottom: 10px;
}

.prodprog{
    margin: auto 0;
    width: fit-content;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}